.slick-slider .slick-arrow {
  opacity: 0 !important;
  transition: opacity 0.3s ease;
}

.slick-slider:hover .left,
.slick-slider:hover .right {
  opacity: 1 !important;
}

.slick-slider:hover .icon {
  background: hsla(0, 0%, 8%, 0.5);
}

.slick-list {
  margin-right: -187px;
}

.clicked .slick-list {
  margin-right: -89px;
  padding-left: 89px;
}
